a h3 {
    display: inline-block;
}

.HOME {
    color: darkred;
    text-decoration: none;
}

.HOME:hover {
    color: blue;
}

.link:hover {
    color: blue;
}

a {
    color: black;
    text-decoration: none;
}