.wd {
    padding-left: 5px;
    padding-right: 5px;
    border-style: none;
}

.wa {
    border-left: 1px;
    border-left-style: solid;
}

.mo {
    border-left: 1px;
    border-left-style: solid;
}

table {
    border: 1px;
    border-style: solid;

    border-collapse: collapse;
    table-layout: auto;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    white-space: nowrap;
}

td:has(input[type="checkbox"]:checked) {
    background-color: lightgreen;
}